<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eden.sun.childrenguard.server.dao.ChildOfParentsMapper">
	<resultMap id="BaseResultMap" type="eden.sun.childrenguard.server.model.ChildOfParents">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
		<result column="FIRST_NAME" property="firstName" jdbcType="VARCHAR" />
		<result column="LAST_NAME" property="lastName" jdbcType="VARCHAR" />
		<result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
		<result column="ACCESS_TOKEN" property="accessToken" jdbcType="VARCHAR" />
		<result column="PARENT_ID" property="parentId" jdbcType="INTEGER" />
	</resultMap>


<select id="selectAllByParentId" resultMap="BaseResultMap" >
    select * from view_childrenofparents
    where PARENT_ID = #{parentId}
    order by CREATE_TIME DESC
 </select>
 
 </mapper>